
.wrapper{
color: rgb(252, 251, 250);


}

.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    max-width: 770px;
}
.header-content{
    display: flex;
    justify-content: center;
    min-height: 75vh;
    background:linear-gradient(rgba(290, 3, 3, 0.3), rgba(249, 240, 8, 0.3)),url("../../images/24manguel-superJumbo.jpg") center/cover no-repeat;
    flex-direction: column;
    text-align: center;
}
.header-title{
    text-transform: capitalize;
    font-size: 4.2rem;
}