body{
  background: linear-gradient(-270deg, #a2d2ff, #79cc78);

}
.container{
background-color: rgb(230, 225, 225);
border-radius: 5px;
min-width: 280px;
min-height: 300px;
}
button{
  cursor: pointer;

}
.icon {
  fill: rgb(47, 118, 84); 
}
.title{
  cursor: pointer;
  background: transparent;
  border: none;
}
.title:hover{
  text-decoration: underline;
  color: #2194ff;
}
