*{
  margin: 0;
  padding: 0;
  
  
}
body{
  background-image: url("https://images.unsplash.com/photo-1542349314-e669385af82f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  min-height: 440px;
  color:white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2), 4px 6px 20px rgba(0, 0, 0, 0.19);
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.search-container {
  width: 40%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-size: 16px;
  margin-right: 8px;
  background-color: white;
  color: black;
}

.search-button {
  width: 120px;
  padding: 10px;
  background-color: #00bcd4;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  height: 60px;
  display: inline-block;
}

.search-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}